<template>
  <v-form ref="form" v-model="valid" v-on:submit.prevent="sendSMS">
    <h1 class="text-center color-main-theme--text">สมัครใช้งาน</h1>
    <v-text-field
      color="color-main-theme"
      v-model="name"
      :counter="8"
      :rules="nameRules"
      label="ชื่อ - สกุล"
      required
    ></v-text-field>
    <v-text-field
      color="color-main-theme"
      v-model="phone"
      :counter="10"
      :rules="phoneRules"
      label="เบอร์โทร"
      required
    ></v-text-field>
    <p class="color-main-theme--text pa-0 ma-0">เงื่อนไขการให้บริการ</p>
    <div id="sign-in-button"></div>
    <div
      :class="[
        {
          'd-flex justify-end': $vuetify.breakpoint.mdAndUp,
          'd-flex justify-center': $vuetify.breakpoint.smAndDown,
        },
      ]"
    >
      <v-btn
        :disabled="!valid"
        type="submit"
        color="color-main-theme"
        @click="sendSMS()"
        class="mt-5"
        >สมัครใช้งาน</v-btn
      >
    </div>

    <div class="text-center mt-15" v-if="$vuetify.breakpoint.smAndDown">
      <nuxt-link class="color-main-theme--text" to="/login"
        >เข้าระบบที่นี้</nuxt-link
      >
    </div>
  </v-form>
</template>



<script>
export default {
  data: () => ({
    valid: true,
    name: '',
    nameRules: [
      (v) => !!v || 'กรุณากรอก ชื่อ - สกุล',
      (v) => (v && v.length >= 8) || 'ชื่อ - สกุล ต้องมีอย่างน้อง 8 ตัวอักษร',
    ],
    phone: '',
    phoneRules: [
      (v) => !!v || 'กรุณากรอกเบอร์โทร',
      (v) => (v && v.length == 10) || 'เบอร์โทร ต้องมี 10 หลัก',
    ],
    lazy: false,
  }),
  // mounted() {
  //   const self = this
  //   window.recaptchaVerifier = new this.$fireAuthObj.RecaptchaVerifier(
  //     'sign-in-button',
  //     {
  //       size: 'invisible',
  //       callback: (response) => {
  //         // reCAPTCHA solved, allow signInWithPhoneNumber.
  //         console.log('response', response)
  //         self.sendSMS()
  //       },
  //     }
  //   )

  //   recaptchaVerifier.verify().then(function (widgetId) {
  //     window.recaptchaWidgetId = widgetId
  //   })
  // },
  methods: {
    sendSMS() {
      this.$store.commit('setUserData', true)
      this.$store.commit('setdialog_signin', false)
      this.$router.push('/profiles')
      // const phoneNumber = '+660641235678'
      // const appVerifier = window.recaptchaVerifier
      // this.$fireAuthObj()
      //   .signInWithPhoneNumber(phoneNumber, appVerifier)
      //   .then((confirmationResult) => {
      //     // SMS sent. Prompt user to type the code from the message, then sign the
      //     // user in with confirmationResult.confirm(code).
      //     window.confirmationResult = confirmationResult
      //   })
      //   .catch((error) => {
      //     console.log(error)
      //     // Error; SMS not sent
      //     // ...
      //   })
    },
    // signIn() {
    //   const otp = 123456
    //   window.confirmationResult
    //     .confirm(otp)
    //     .then((result) => {
    //       // User signed in successfully.
    //       const user = result.user
    //       console.log(user)
    //     })
    //     .catch((error) => {
    //       // User couldn't sign in (bad verification code?)
    //       // ...
    //     })
    // },
  },
}
</script>