<template>
  <v-form ref="form" v-model="valid" :lazy-validation="lazy">
    <h1 class="text-center color-main-theme--text">เข้าระบบ</h1>
    <v-text-field
      color="color-main-theme"
      v-model="phone"
      :rules="phoneRules"
      label="เบอร์โทร"
      maxlength="10"
      required
    ></v-text-field>
    <div
      :class="[
        {
          'd-flex justify-end': $vuetify.breakpoint.mdAndUp,
          'd-flex justify-center': $vuetify.breakpoint.smAndDown,
        },
      ]"
    >
      <v-btn
        :disabled="!valid"
        color="color-main-theme"
        class="mt-5"
        @click="login()"
        >รับ OTP ผ่าน SMS</v-btn
      >
    </div>

    <div class="text-center mt-15" v-if="$vuetify.breakpoint.smAndDown">
      <nuxt-link class="color-main-theme--text" to="/register"
        >สมัครบัญชีที่นี้</nuxt-link
      >
    </div>
  </v-form>
</template>



<script>
export default {
  data: () => ({
    valid: true,
    phone: '',
    phoneRules: [
      (v) => !!v || 'กรุณากรอกเบอร์โทร',
      (v) => (v && v.length == 10) || 'เบอร์โทร ต้องมี 10 หลัก',
    ],
    lazy: false,
  }),

  methods: {
    login() {
      this.$store.commit('setUserData', true)
      this.$store.commit('setdialog_signin', false)
      this.$router.push('/profiles')
    },
  },
}
</script>