<template>
  <div>
    <LazyBoxViewDetail v-if="dataDetail" :dataProduct="dataDetail"/>

    <v-dialog v-model="dialog" hide-overlay persistent width="300">
      <v-card class="bg-tempting-azure text-darker" dark>
        <v-card-text>
          กรุณารอชักครู่
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      dataDetail: null,
      dialog: false,
    }
  },
  computed: {
    loadFormAPI() {
      this.$getApi(`products/${this.$route.params.id}`).then((rest) => {
        console.log(rest)
        this.dataDetail = rest
        this.dialog = false
      })
    },
  },
  mounted() {
    this.dialog = true
    this.loadFormAPI
  },
}
</script>