<template>
  <v-carousel :cycle="false" height="auto" hide-delimiter-background show-arrows>
    <v-carousel-item v-for="(slide, i) in slides" :key="i" to="/" src="https://picsum.photos/1140/400"></v-carousel-item>
  </v-carousel>
</template>


<script>
export default {
  data() {
    return {
      colors: [
        'indigo',
        'warning',
        'pink darken-2',
        'red lighten-1',
        'deep-purple accent-4',
      ],
      slides: ['First', 'Second', 'Third', 'Fourth', 'Fifth'],
    }
  },
}
</script>