<template>
  <LazyWebLayout>
    <!-- <v-navigation-drawer v-model="drawer" clipped fixed>
      <div class="pt-5">
        <v-img
          src="https://via.placeholder.com/145x33/65c178/ffffff/?text=LOGO"
          width="145"
          height="33.36"
          max-width="145"
          max-height="33.36"
          class="mx-auto"
          contain
        ></v-img>
        <v-list v-if="items" dense nav>
          <v-list-item
            v-for="(item, index) in items"
            :key="`menuMobile_${index}`"
            link
          >
            <v-list-item-content>
              <v-list-item-title class="color-main-theme--text">{{
                item.NameCategory
              }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </div>
      <template v-slot:append>
        <div class="pa-2">
          <v-btn block @click="logout()">ออกจากระบบ</v-btn>
        </div>
      </template>
    </v-navigation-drawer> -->

    <!-- DESKTOP -->
    <!-- <v-app-bar v-if="$vuetify.breakpoint.mdAndUp" fixed app elevation="1">
      <div class="warp mx-auto d-flex align-center">
        <nuxt-link to="/">
          <v-img
            src="https://via.placeholder.com/145x33/65c178/ffffff/?text=LOGO"
            width="145"
            height="33.36"
            max-width="145"
            max-height="33.36"
            contain
          ></v-img>
        </nuxt-link>
        <v-menu v-model="value" open-on-hover close-on-click offset-y>
          <template v-slot:activator="{ on, attrs }">
            <v-btn color="menu-link" text v-bind="attrs" v-on="on">
              หมวดหมู่
              <v-icon>mdi-chevron-down</v-icon>
            </v-btn>
          </template>
          <v-list v-if="items">
            <v-list-item
              v-for="(item, index) in items"
              :key="`menuDesktop_${index}`"
            >
              <v-list-item-title>{{ item.NameCategory }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
        <v-btn color="menu-link" to="/search" text>ค้นหา</v-btn>
        <v-btn color="menu-link" text>เพิ่มสินค้า</v-btn>
        <v-spacer />
        <v-btn
          v-if="$store.getters.isLogin"
          color="menu-link"
          to="/profile"
          text
          >โปรไฟล์</v-btn
        >
        <v-btn
          v-else
          @click="$store.commit('setdialog_signin', true)"
          color="menu-link"
          text
          >เข้าระบบ</v-btn
        >
      </div>
    </v-app-bar> -->
    <!-- DESKTOP -->

    <!-- MOBILE -->
    <!-- <v-app-bar v-else fixed app elevation="1">
       <div class="warp mx-auto d-flex align-center">
        <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
        <nuxt-link to="/">
          <v-img
            src="https://via.placeholder.com/145x33/65c178/ffffff/?text=LOGO"
            width="145"
            height="33.36"
            max-width="145"
            max-height="33.36"
            contain
          ></v-img>
        </nuxt-link>
        <v-spacer />
        <v-btn color="menu-link" to="/search" icon>
          <v-icon>mdi-magnify</v-icon>
        </v-btn>
        <v-btn
          v-if="$store.getters.isLogin"
          to="/profiles"
          color="menu-link"
          icon
        >
          <v-icon>mdi-account</v-icon>
        </v-btn>
        <v-btn v-else to="/login" color="menu-link" icon>
          <v-icon>mdi-account</v-icon>
        </v-btn>
      </div>
    </v-app-bar> -->
    <!-- MOBILE -->
    <v-app>
      <v-main class="mt-15">
        <LazySlider v-if="$route.path == '/'" />
        <v-container class="warp">
          <nuxt keep-alive />
        </v-container>
      </v-main>

      <v-dialog
        :value="$store.getters.allstate.dialog_signin"
        max-width="800"
        @click:outside="$store.commit('setdialog_signin', false)"
      >
        <v-tabs v-model="tab" color="color-main-theme">
          <v-tab class="color-main-theme--text">เข้าใช้งาน</v-tab>
          <v-tab class="color-main-theme--text">สมัครสมาชิก</v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab">
          <v-tab-item>
            <v-card>
              <v-card-text>
                <v-row align="center">
                  <v-col cols="12" md="6" v-if="$vuetify.breakpoint.mdAndUp">
                    <v-img
                      src="https://via.placeholder.com/300x400/65c178/ffffff/?text=LOGIN+IMAGE"
                    ></v-img>
                  </v-col>
                  <v-col cols="12" md="6">
                    <LazyBoxLogin />
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card>
              <v-card-text>
                <v-row align="center">
                  <v-col cols="12" md="6" v-if="$vuetify.breakpoint.mdAndUp">
                    <v-img
                      src="https://via.placeholder.com/300x400/65c178/ffffff/?text=REGISTER+IMAGE"
                    ></v-img>
                  </v-col>
                  <v-col cols="12" md="6">
                    <LazyBoxRegister />
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs-items>
      </v-dialog>
    </v-app>
  </LazyWebLayout>
</template>

<script>
export default {
  data() {
    return {
      drawer: false,
      value: null,
      tab: 0,
      items: null,
    }
  },
  methods: {
    logout() {
      this.$store.commit('setUserData', false)
      this.$store.commit('setdialog_signin', false)
      this.$router.push('/')
    },
  },
  mounted() {
    this.$getApi('categories').then((e) => {
      this.items = e
      this.$store.commit('setCategoryLoad', e)
    })
  },
}
</script>


<style lang="scss">
body {
  font-weight: 400;
}
.position-fixed {
  position: fixed;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-scroll {
  overflow: scroll;
  &.menu {
    padding-bottom: 5px;
    overflow-x: scroll !important;
    overflow-y: hidden !important;
    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: #65c178;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #888888;
    }
  }
}
.warp {
  width: 100%;
  max-width: 1140px !important;
}
.menu-link--text {
  color: rgba(0, 0, 0, 0.87);
  transition: 0.5s;
  &:hover {
    color: #65c178 !important;
  }
}
.color-main-theme {
  background-color: #65c178 !important;
  &.opacity {
    background-color: #65c1772a !important;
  }
}
.color-main-theme--text {
  color: #65c178 !important;
}
.v-overlay {
  backdrop-filter: blur(5px) !important;
  .v-overlay__scrim {
    backdrop-filter: blur(5px) !important;
  }
}

.bg-btn-g {
  min-width: 150px !important;
  .v-btn__content {
    font-size: 22px !important;
    text-shadow: -1px 2px 3px black !important;
  }
  &.set-1 {
    background: rgb(224, 179, 124);
    background: -moz-linear-gradient(
      90deg,
      rgba(224, 179, 124, 1) 0%,
      rgba(95, 61, 26, 1) 100%
    );
    background: -webkit-linear-gradient(
      90deg,
      rgba(224, 179, 124, 1) 0%,
      rgba(95, 61, 26, 1) 100%
    );
    background: linear-gradient(
      90deg,
      rgba(224, 179, 124, 1) 0%,
      rgba(95, 61, 26, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e0b37c",endColorstr="#5f3d1a",GradientType=1);
  }

  &.set-2 {
    background: rgb(255, 182, 154);
    background: -moz-linear-gradient(
      90deg,
      rgba(255, 182, 154, 1) 0%,
      rgba(199, 81, 36, 1) 100%
    );
    background: -webkit-linear-gradient(
      90deg,
      rgba(255, 182, 154, 1) 0%,
      rgba(199, 81, 36, 1) 100%
    );
    background: linear-gradient(
      90deg,
      rgba(255, 182, 154, 1) 0%,
      rgba(199, 81, 36, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffb69a",endColorstr="#c75124",GradientType=1);
  }

  &.set-3 {
    background: rgb(158, 158, 158);
    background: -moz-linear-gradient(
      90deg,
      rgba(158, 158, 158, 1) 0%,
      rgba(0, 0, 0, 1) 100%
    );
    background: -webkit-linear-gradient(
      90deg,
      rgba(158, 158, 158, 1) 0%,
      rgba(0, 0, 0, 1) 100%
    );
    background: linear-gradient(
      90deg,
      rgba(158, 158, 158, 1) 0%,
      rgba(0, 0, 0, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9e9e9e",endColorstr="#000000",GradientType=1);
  }

  &.set-4 {
    background: rgb(217, 145, 144);
    background: -moz-linear-gradient(
      90deg,
      rgba(217, 145, 144, 1) 0%,
      rgba(226, 67, 64, 1) 100%
    );
    background: -webkit-linear-gradient(
      90deg,
      rgba(217, 145, 144, 1) 0%,
      rgba(226, 67, 64, 1) 100%
    );
    background: linear-gradient(
      90deg,
      rgba(217, 145, 144, 1) 0%,
      rgba(226, 67, 64, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d99190",endColorstr="#e24340",GradientType=1);
  }

  &.set-5 {
    background: rgb(172, 252, 254);
    background: -moz-linear-gradient(
      90deg,
      rgba(172, 252, 254, 1) 0%,
      rgba(71, 193, 195, 1) 100%
    );
    background: -webkit-linear-gradient(
      90deg,
      rgba(172, 252, 254, 1) 0%,
      rgba(71, 193, 195, 1) 100%
    );
    background: linear-gradient(
      90deg,
      rgba(172, 252, 254, 1) 0%,
      rgba(71, 193, 195, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#acfcfe",endColorstr="#47c1c3",GradientType=1);
  }

  &.set-6 {
    background: rgb(192, 255, 205);
    background: -moz-linear-gradient(
      90deg,
      rgba(192, 255, 205, 1) 0%,
      rgba(101, 193, 120, 1) 100%
    );
    background: -webkit-linear-gradient(
      90deg,
      rgba(192, 255, 205, 1) 0%,
      rgba(101, 193, 120, 1) 100%
    );
    background: linear-gradient(
      90deg,
      rgba(192, 255, 205, 1) 0%,
      rgba(101, 193, 120, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c0ffcd",endColorstr="#65c178",GradientType=1);
  }

  &.set-7 {
    background: rgb(255, 192, 241);
    background: -moz-linear-gradient(
      90deg,
      rgba(255, 192, 241, 1) 0%,
      rgba(255, 106, 0, 1) 100%
    );
    background: -webkit-linear-gradient(
      90deg,
      rgba(255, 192, 241, 1) 0%,
      rgba(255, 106, 0, 1) 100%
    );
    background: linear-gradient(
      90deg,
      rgba(255, 192, 241, 1) 0%,
      rgba(255, 106, 0, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc0f1",endColorstr="#ff6a00",GradientType=1);
  }
}
</style>