<template>
  <div class="card main-card mb-3">
    <nuxt-link :to="`/${dataProduct.NameProduct}/${dataProduct.id}`">
      <v-img
        v-if="!myproroduct"
        :src="$getImage(dataProduct.ImageProduct[0].formats.thumbnail.url)"
        height="200px"
      ></v-img>
    </nuxt-link>
    <div class="card-header p-3 h-auto d-block">
      <div class="d-block">{{ dataProduct.NameProduct }}</div>
      <div class="d-block font-weight-normal text-capitalize mt-1 grey--text">
        แลกกับ
        <div v-if="dataProduct.needProduct.split(',').length == 0">
          <v-chip x-small class="ma-1 bg-tempting-azure text-darker"
            >อะไรก็ได้</v-chip
          >
        </div>
        <div v-else>
          <v-chip
            x-small
            class="ma-1 bg-tempting-azure text-darker"
            v-for="(swapitem, i) in dataProduct.needProduct.split(',')"
            :key="`swapitem_${i}`"
            >{{ swapitem }}</v-chip
          >
        </div>
      </div>
    </div>
    <div class="card-body">
      <v-list-item class="grow">
        <v-list-item-avatar color="grey darken-3">
          <v-img
            class="elevation-6"
            :src="$getImage(dataProduct.ImageProduct[0].formats.thumbnail.url)"
          ></v-img>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title class="subtitle-2">{{
            dataProduct.created_by.username
          }}</v-list-item-title>
        </v-list-item-content>

        <v-row align="center" justify="end">
          <div>
            <v-icon x-small class="mr-1">mdi-eye</v-icon>
            <small class="subheading mr-2"
              >{{ Math.floor(Math.random() * product.length) }}k</small
            >
            <v-icon x-small class="mr-1">mdi-swap-horizontal</v-icon>
            <small class="subheading"
              >{{ Math.floor(Math.random() * product.length) }}k</small
            >
          </div>
        </v-row>
      </v-list-item>
    </div>
  </div>
</template>


<script>
export default {
  props: ['myproroduct', 'dataProduct'],
  // mounted() {
  // this.dataProduct = this.product[
  //   Math.floor(Math.random() * this.product.length)
  // ]
  // },
  data: () => ({
    show: false,
    // dataProduct: null,
    product: [
      {
        name: 'กะหล่ําปลี',
        image: '/productImage/1.jpg',
        swap: ['2', '3', '4'],
      },
      {
        name: 'หมูแดดเดียว',
        image: '/productImage/2.jpg',
        swap: ['3', '4', '5'],
      },
      {
        name: 'มะละกอ',
        image: '/productImage/3.jpg',
        swap: ['4', '5', '6'],
      },
      {
        name: 'ปลาดุก',
        image: '/productImage/4.jpg',
        swap: ['5', '6'],
      },
      {
        name: 'มาม่า',
        image: '/productImage/5.jpg',
        swap: ['6'],
      },
      {
        name: 'ปุ๋ยชีวภาพ',
        image: '/productImage/6.jpg',
        swap: ['7', '8', '9'],
      },
      {
        name: 'ผักกาดขาว',
        image: '/productImage/7.jpg',
        swap: ['8', '9'],
      },
      {
        name: 'หอมแดง',
        image: '/productImage/8.jpg',
        swap: ['9', '1'],
      },
      {
        name: 'ข้าวหอมมะลิ',
        image: '/productImage/9.jpg',
        swap: [],
      },
    ],
  }),
}
</script>