<template>
  <div v-if="dataProduct">
    <div class="card main-card mb-16 mt-16">
      <div class="card-body">
        <v-card-title class="display-1">{{
          dataProduct.NameProduct
        }}</v-card-title>
        <v-row>
          <v-col cols="12" md="6">
            <v-card-subtitle>
              ต้องการแลกกับ
              <div v-if="dataProduct.needProduct.split(',').length == 0">
                <v-chip small class="ma-1 bg-tempting-azure text-darker"
                  >อะไรก็ได้</v-chip
                >
              </div>
              <div v-else>
                <v-chip
                  small
                  class="ma-1 bg-tempting-azure text-darker"
                  v-for="(swapitem, i) in dataProduct.needProduct.split(',')"
                  :key="`swapitem_${i}`"
                  >{{ swapitem }}</v-chip
                >
              </div>
            </v-card-subtitle>
          </v-col>
          <v-col cols="12" md="6" class="d-flex align-center">
            <v-list-item-avatar color="grey darken-3">
              <v-img
                class="elevation-6"
                :src="$getImage(dataProduct.ImageProduct[0].url)"
              ></v-img>
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title class="subtitle-2">{{
                dataProduct.created_by.username
              }}</v-list-item-title>
            </v-list-item-content>

            <div class="d-flex">
              <v-card-subtitle class="subheading">
                <v-icon>mdi-eye</v-icon>
                {{ Math.floor(Math.random() * 100) }}k
              </v-card-subtitle>
            </div>
            <div class="d-flex">
              <v-card-subtitle class="subheading">
                <v-icon>mdi-swap-horizontal</v-icon>
                {{ Math.floor(Math.random() * 100) }}k
              </v-card-subtitle>
            </div>
          </v-col>
        </v-row>
      </div>
    </div>
    <div class="card main-card mb-3">
      <div class="card-body text-center">
        <v-row>
          <v-col cols="12" md="7">
            <v-img
              class="mt-3 rounded-lg"
              :src="$getImage(dataProduct.ImageProduct[0].url)"
              contain
            ></v-img>
          </v-col>
          <v-col cols="12" md="5">
            <v-card-title
              class="subtitle-2"
              v-html="dataProduct.ProductDetail"
            ></v-card-title>
          </v-col>
        </v-row>
      </div>
    </div>
    <div v-if="$store.getters.isLogin">
      <h3>ลองเสนอแลกจากสินค้าของคุณ</h3>
      <v-row>
        <v-col
          cols="6"
          sm="6"
          md="3"
          lg="3"
          v-for="(item, i) in 4"
          :key="`product_${i}`"
        >
          <LazyBoxProduct myproroduct="1" />
        </v-col>
      </v-row>
    </div>
    <div v-else class="card main-card mb-16 mt-16">
      <div class="card-body text-center">
        <h3>เข้าระบบ หรือ สมัครสมาชิก</h3>
        <p>เพื่อเสนอแลกสินค้า ของคุณ</p>
        <v-btn
          text
          large
          class="px-10 my-5 mr-5 bg-tempting-azure text-darker rounded-lg"
          @click="$store.commit('setdialog_signin', true)"
          >เข้าระบบ</v-btn
        >
      </div>
    </div>

    <h1>สินค้าอื่นๆ</h1>
    <v-row v-if="product_new">
      <v-col
        cols="6"
        sm="6"
        md="3"
        lg="3"
        v-for="(item, i) in product_new"
        :key="`product_${i}`"
      >
        <LazyBoxProduct :dataProduct="item" />
      </v-col>
    </v-row>
    <div v-else>
      <v-skeleton-loader
        class="mx-auto"
        max-width="300"
        v-for="item in 4"
        :key="`v-skeleton-loader_${item}`"
        type="card"
      ></v-skeleton-loader>
    </div>
  </div>
</template>


<script>
export default {
  props: ['dataProduct'],
  mounted() {
    this.getProduct
  },
  computed: {
    getProduct() {
      this.$getApi('products').then((rest) => {
        console.log(rest, 'rest')
        this.product_new = rest
      })
    },
  },
  data: () => ({
    product_new: null,
  }),
}
</script>