<template>
  <div>
    <div class="overflow-hidden">
      <div class="overflow-scroll menu">
        <div class="d-flex">
          <b-button
            variant="text"
            v-for="(item, i) in loadCate"
            :key="`category_${i}`"
            :class="`px-10 mr-5 ${colors[Math.floor(
              Math.random() * colors.length
            )]} rounded-lg`"
            >{{ item.NameCategory }}</b-button
          >
        </div>
      </div>
    </div>
    <h1>สินค้ามาใหม่</h1>
    <v-row v-if="product_new" align="center">
      <v-col
        cols="6"
        sm="6"
        md="3"
        lg="3"
        v-for="(item, i) in product_new"
        :key="`product_${i}`"
      >
        <LazyBoxProduct :dataProduct="item" />
      </v-col>
    </v-row>
    <v-row v-else align="center">
      <v-col
        cols="6"
        sm="6"
        md="3"
        lg="3"
        v-for="item in 4"
        :key="`v-skeleton-loader_${item}`"
      >
        <v-skeleton-loader class="mx-auto" type="card"></v-skeleton-loader>
      </v-col>
    </v-row>
  </div>
</template>


<script>
export default {
  data() {
    return {
      product_new: null,
      colors: [
        'bg-primary text-lighter',
        'bg-secondary text-lighter',
        'bg-success text-lighter',
        'bg-info text-lighter',
        'bg-warning text-darker',
        'bg-danger text-lighter',
        'bg-light text-darker',
        'bg-dark text-lighter',
        'bg-focus text-lighter',
        'bg-alternate text-lighter',

        'bg-vicious-stance text-lighter',
        'bg-midnight-bloom text-lighter',
        'bg-night-sky text-lighter',
        'bg-slick-carbon text-lighter',
        'bg-asteroid text-lighter',
        'bg-royal text-lighter',
        'bg-warm-flame text-darker',
        'bg-night-fade text-darker',
        'bg-sunny-morning text-darker',
        'bg-tempting-azure text-darker',
        'bg-amy-crisp text-darker',
        'bg-heavy-rain text-darker',
        'bg-mean-fruit text-darker',
        'bg-malibu-beach text-darker',
        'bg-deep-blue text-darker',
        'bg-ripe-malin text-lighter',
        'bg-arielle-smile text-lighter',
        'bg-plum-plate text-lighter',
        'bg-happy-fisher text-darker',
        'bg-happy-itmeo text-darker',
        'bg-mixed-hopes text-lighter',
        'bg-strong-bliss text-lighter',
        'bg-grow-early text-lighter',
        'bg-love-kiss text-lighter',
        'bg-premium-dark text-lighter',
        'bg-happy-green text-lighter',
      ],
    }
  },
  computed: {
    loadCate() {
      return this.$store.state.category
    },
    getProduct() {
      this.$getApi('products').then((rest) => {
        console.log(rest)
        this.product_new = rest
      })
    },
  },
  mounted() {
    // this.getProduct

    // test hql
    this.$gql(
      `query {
          products {
            NameProduct
            needProduct
            ImageProduct {
              formats
            }
            created_by {
              username
            }
            id
          }
        }`
    ).then((rest) => {
      console.log(rest)
      this.product_new = rest.data.products
    })
  },
}
</script>