<template>
  <div class="app-container app-theme-white">
    <transition name="fade" mode="out-in" appear>
      <Header :headerbg="headercolor" />
    </transition>
    <transition v-if="$vuetify.breakpoint.smAndDown" name="fade" mode="out-in" appear>
      <Sidebar :sidebarbg="sidebarcolor" />
    </transition>
    <div class="app-main__inner p-0">
      <slot></slot>
    </div>

    <transition name="fade" mode="out-in" appear>
      <Footer />
    </transition>
  </div>
</template>

<script>
import Header from '../Components/Header'
import Sidebar from '../Components/Sidebar'
import Footer from '../Components/Footer'

import VuePerfectScrollbar from 'vue-perfect-scrollbar'

import { library } from '@fortawesome/fontawesome-svg-core'
import { faCog } from '@fortawesome/free-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

library.add(faCog)

export default {
  name: 'app',
  components: {
    Header,
    Sidebar,
    Footer,
    VuePerfectScrollbar,
    'font-awesome-icon': FontAwesomeIcon,
  },

  methods: {
      
  },

  data() {
    return {
      headercolor: 'bg-tempting-azure text-darker',
      sidebarcolor: 'bg-tempting-azure text-darker',
    }
  },
}
</script>
